[Unit]
Description=docker-compose towercontroller.service
Requires=docker.service network-online.target canup.service protostream.service
After=docker.service network-online.target canup.service protostream.service

[Service]
WorkingDirectory=/etc/towercontroller.d
Type=simple
TimeoutStartSec=15
Restart=always
ExecStartPre=/usr/bin/docker pull artifactory.teslamotors.com:2132/formation-docker-local/towercontrollerapp:latest
ExecStart=/usr/bin/docker-compose up --remove-orphans --no-build
ExecStop=/usr/bin/docker-compose down --remove-orphans

[Install]
WantedBy=multi-user.target
